:root {
  --primary-color: #474a51;
  --secondary-color: #f2e7bf;
  --svg-primary: invert(29%) sepia(6%) saturate(655%) hue-rotate(184deg)
    brightness(93%) contrast(92%);
  --svg-secondary: invert(94%) sepia(16%) saturate(624%) hue-rotate(333deg)
    brightness(103%) contrast(90%);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header{
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  height: 5vh;
  font-size: 1.2rem;
}

.logo {
  font-weight: bold;
  padding: 5px 10px;
  border: var(--secondary-color) solid 1px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.nav-list {
  display: flex;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}

.nav-list a {
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-list a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  display: block;
  margin: auto;
  margin-top: 5px;
  transition: width 0.2s linear;
}

.nav-list a:hover::after {
  width: 100%;
}

.toggler {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.toggler-slider {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s;
}

.toggler-slider::before {
  position: absolute;
  content: "";
  left: 5px;
  bottom: 5px;
  background-color: var(--primary-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

#theme {
  display: none;
}

#theme:checked + .toggler-slider {
  background-color: var(--secondary-color);
}
#theme:checked + .toggler-slider::before {
  transform: translateX(30px);
  background-color: var(--primary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: var(--secondary-color);
  transition: all 0.3 ease-in-out;
}

@media screen and (max-width: 570px) {
  .header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .hamburger.on span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.on span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.on span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .toggler {
    display: none;
  }

  nav {
    height: auto;
    flex-direction: column;
  }

  .nav-list {
    display: none;
  }

  .nav-list.display {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
