body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: 0.5s;
  overflow-x: hidden;
}

body.light-theme {
  --primary-color: #f2e7bf;
  --secondary-color: #474a51;
  --svg-primary: invert(94%) sepia(16%) saturate(624%) hue-rotate(333deg)
    brightness(103%) contrast(90%);
  --svg-secondary: invert(29%) sepia(6%) saturate(655%) hue-rotate(184deg)
    brightness(93%) contrast(92%);
}

main {
  width: 80%;
  margin: auto;
  text-align: justify;
}

section {
  margin-bottom: 30px;
}

.h2-quote {
  margin-top: 10px;
  text-align: center;
}

q {
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

q::before {
  content: "\201C";
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}

q::after {
  content: "\201D";
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  position: absolute;
  bottom: -20px;
}

#animation {
  width: 100%;
  margin-top: 30px;
}

#animation canvas {
  margin: auto;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

article {
  max-width: 500px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin: 20px auto;
}

main img {
  height: 16px;
  filter: var(--svg-secondary);
}

.about-social-icons a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--secondary-color);
}

.about-social-icons a:hover {
  opacity: 0.6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-color);
  opacity: 1; /* Firefox */
  font-family: "Poppins", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

input,
textarea {
  box-sizing: content-box;
  padding: 2px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 16px;
  color: var(--secondary-color);
}

.submit {
  margin-left: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
