body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: 0.5s;
  overflow-x: hidden;
}

body.light-theme {
  --primary-color: #f2e7bf;
  --secondary-color: #474a51;
  --svg-primary: invert(94%) sepia(16%) saturate(624%) hue-rotate(333deg)
    brightness(103%) contrast(90%);
  --svg-secondary: invert(29%) sepia(6%) saturate(655%) hue-rotate(184deg)
    brightness(93%) contrast(92%);
}

main {
  width: 80%;
  margin: auto;
  text-align: justify;
}

section {
  margin-bottom: 30px;
}

hr {
  margin-top: 0;
}

#home {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0;
}

.h2-quote {
  margin-top: 10px;
  text-align: center;
}

q {
  font-size: 2rem;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

q::before {
  content: "\201C";
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}

q::after {
  content: "\201D";
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  position: absolute;
  bottom: -20px;
}

#animation {
  width: 100%;
  margin-top: 30px;
}

#animation canvas {
  margin: auto;
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.project {
  width: 40%;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.project h3 {
  font-size: 2rem;
}

.project img {
  height: auto;
  filter: none;
  margin: auto;
  width: 100%;
}

.project img:hover {
  opacity: 0.8;
}

.project p {
  font-size: 1.5rem;
}

.article-about {
  max-width: 600px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding: 30px 15px;
}

.about-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin: 20px auto;
}

main img {
  height: 16px;
  filter: var(--svg-secondary);
}

.about-social-icons a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--secondary-color);
}

.about-social-icons a:hover {
  opacity: 0.6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  width: fit-content;
  padding: 40px 20px;
  margin: auto;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-color);
  opacity: 1; /* Firefox */
  font-family: "Poppins", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  box-sizing: content-box;
  padding: 10px 10px;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 16px;
  color: var(--secondary-color);
  outline: none;
}

.submit {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 570px) {
  .project {
    width: 100%;
    padding: 0;
  }
}
